.info {
    font: 1em "Roboto", Arial, sans-serif;
    background-color: #eee;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all .2s ease-in-out;
}
